body {
  margin: 5px 5px;
  padding: 0;
  background-color: #f8bdc6;
}

/*estylos titulos*/
h1 {
  margin: 5px;
  padding: 15px;
  font-family: "Roboto", sans-serif;
  color: #765607;
  font-size: 30px;
  text-align: center;
}

/* h2 y P*/
h2 {
  text-align: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #9d9101;
}

p {
  font-family: "Roboto", sans-serif;
  color: #292929;
}

/*Style Header*/
.Header-container {
  width: 100%;
  border-bottom: 5px solid #292929;
  position: sticky;
  top: 5px;
  background-color: #f8bdc6;
}
.Header-container .Container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Header-container .Container .Logo {
  width: 120px;
}
.Header-container .Container .Nav-Menu {
  width: 60%;
  color: #7e7b52;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.Header-container .Container .Nav-Menu a {
  text-decoration: none;
}
.Header-container .Container .Nav-Menu a:hover {
  font-style: italic;
  font-size: 20px;
  color: #765607;
  transition: all 2s;
  text-decoration: none;
}

/*Querys Nav-Menu*/
@media screen and (max-width: 540px) {
  .Nav-Menu {
    flex-direction: column;
    align-items: flex-end;
  }
}
.Nav-Menu li a {
  color: #7e7b52;
  margin: 0%;
  padding: 0%;
  align-items: center;
}

/* Seccion-Container Grid*/
.Grid-container {
  margin-top: 30px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 15px;
  row-gap: 15px;
}
.Grid-container .Grid-item {
  align-items: center;
}
.Grid-container .Grid-item img {
  width: 100%;
}

/*Querys Grid Container*/
@media screen and (max-width: 540px) {
  .Gridcontainer {
    margin-top: 30px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
  }
}
/*Estilos Aside video y mas */
.seccion1 img {
  width: 100%;
}

/*section de videos*/
.Video-Container {
  margin: 50px 5px;
  width: 100%;
  display: flex;
}
.Video-Container .Video {
  width: 80%;
  text-align: center;
}
.Video-Container .Video video {
  width: 90%;
}

/*section aside*/
aside {
  width: 100%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #9d9101;
}

/*estilos para el footer*/
footer {
  margin-top: 100px;
  background-color: #292929;
  text-align: center;
  /* animacion y transicion*/
}
footer:hover {
  background-color: #76aeed;
  transition: all 3s;
}
footer .Final {
  margin: 0%;
  padding: 0%;
  font-family: "Roboto", sans-serif;
  color: #ffdee8;
}
footer .Final:hover {
  color: #9d9101;
  transition: all 2s;
}

/*Seccion Nosotros y estilos a contactos.html*/
/* Nosotros */
#Nosotros {
  text-align: center;
}
#Nosotros:hover {
  background-color: #999;
  color: #d6d9dc;
  transition: all 3s;
}

/*Seccion Contactos*/
.ContainerContacto {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.ContainerContacto .ImgContacto {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
