@import url(_querys.scss);
body{
    margin: 5px 5px;
    padding: 0;
    color: #f8bdc6;
}
.Header-container{
    width: 100%;
    border-bottom: 5px solid #292929;
    position: sticky;
    top: 5px;
    background-color:#f8bdc6;
    .Container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .Logo{
            width: 120px;
        }
        .Nav-Menu{
            width: 60%;
            color: #7e7b52;
            font-family: 'Roboto', sans-serif;
            display: flex;
            justify-content: space-around;
            list-style: none;
            text-decoration: none;
            li a:hover{
                color: tomato;
                font-size: 20PX;
            }
        }
    }
    @media screen and(max-width: 540px){
                .Nav-Menu{
                    flex-direction: column;
                    align-items:flex-end;
                }
            }
    .Nav-Menu li a {
        color: #d6d9dc;
        margin: 0 0;
        align-items: center;
        }
}
.seccion1 {
    img{width: 100%;}
}

.Video-Container{ 
    margin: 50px 5px;
    width: 100%;
    display: flex;
    .Video{
        video{
            width: 90%;
        }
        width: 80%;
        text-align: center;

    }
}
/* Seccion-Container Grid*/
.Grid-container{
    margin-top: 30px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
    .Grid-item{
        align-items: center;
        img{width: 70%;}
    }
    @media screen and (max-width: 540px){
        margin-top: 30px;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 15px;
        row-gap: 15px;
    }
}
aside{
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #9d9101 ;
}
h2 {
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #9d9101 ;
}
p {
    font-family: 'Roboto', sans-serif;
    color: #292929;
}
/* Nosotros */
#Nosotros{
    text-align: center;
    &:hover {
        background-color: #999;
        color: #d6d9dc;
        transition: 3s;
    }
} 
/*estilos para el footer*/ 
footer {
    margin-top: 100px;
    background-color: #292929;
    text-align: center;
/* animacion y transicion*/
    &:hover{
        background-color: #76aeed;
        transition: background-color 3s;}
.Final {
    font-family: 'Roboto', sans-serif;
    color: #ffdee8;
    &:hover{
    color: #9d9101;}
    }
}